@import 'bulma/sass/utilities/_all.sass';

$background: rgba(0, 0, 0, 0.4);
$body-background-color: #211c1c;

$text: rgba(255, 255, 255, 0.96);
$title-color: $text;
$subtitle-color: rgba(255, 255, 255, 0.85);

$input-hover-color: $subtitle-color;

$navbar-background-color: #202021;

$navbar-item-color: $subtitle-color;
$navbar-item-hover-background-color: transparent;

$label-color: $subtitle-color;

$modal-card-head-background-color: $body-background-color;
$modal-card-title-color: $text;

$tabs-link-color: $white;
$tabs-link-hover-color: $white;
$tabs-link-hover-border-bottom-color: $white;
$tabs-boxed-link-hover-background-color: $black-bis;
