extends ../layout

block content

  .ui.segment.container
    h1 Stats
    p.mt-top2 Registered users: 
      b=locals.amountUsers
    p Total events: 
      b=locals.amountEvents
    h2 Event attendence
    table.ui.celled.striped.fluid.table
      thead
        tr
          th User
          th # registrered events
      tbody
        each user in locals.eventAttendence
          tr
            td
              i.user.icon(style="color: " + user.color)
              span=user.name
            td=user.attended
      
