#wrapper {
  padding-top: 5em;
  padding-bottom: 2em;
}

#news .date {
  float: right;
}

.float-r {
  float: right;
}

#news .headline {
  width: 85%;
}

#steam-img {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#create {
  margin-bottom: 4em;
}

#create .event-type {
  padding-top: 0 !important;
}

#create .event-type label {
  cursor: pointer;
  font-weight: bold;
}

#slots button, .button {
  margin-bottom: 0.2em !important;
}

#slots input.js-unit {
  margin-bottom: 1px;
}

#slots input.error {
  border-color: red;
  background-color: antiquewhite;
}

#slots .popup {
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.5);
}

#slots textarea {
  resize: none;
}

#slots-header i {
  margin-right: 0.2em;
}

#slots .grp-segment {
  padding-left: 6px;
  padding-right: 6px;
}

#event-description h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  text-decoration: underline;
}

.event-group .grp-desc {
  padding-left: 0.4em;
  cursor: pointer;
}

.event-group .grp-desc:hover {
  text-decoration: underline;
}

.invis {
  display: none !important;
}

.mt-top1 {
  margin-top: 1em !important;
}

.mt-top2 {
  margin-top: 2em !important;
}

nav {
  z-index: 3000 !important;
}

nav span.title {
  font-size: 100%;
  font-weight: bold;
}

.message .close {
  padding-left: 0.6em;
}

.full-w {
  width: 100%;
}

.center-text {
  text-align: center;
}
.right-text {
  text-align: right;
}

.message p.small {
  margin-top: 0;
  margin-bottom: 0;
}

.space {
  padding-top: 1em;
  padding-bottom:1em;
}

.top-space {
  padding-top: 2em;
}

.no-margin {
  margin: 0;
}

.keep-format {
  white-space: pre-line;
  word-wrap: break-word;
}

@media only screen and (max-width: 767px) {
  nav .item.force.selected {
    font-weight: 400 !important;
  }
  nav .desktop-only {
      display: none !important;
  }
  nav .mobile-only {
    display: flex !important;
  }

  #media-screenshots img {
    margin: 0 auto;
    width: 100%;
  }

  #media-screenshots img:hover {
    cursor: pointer;
  }

  #media-screenshots img.loaded {
    margin: 0 auto;
    width: 100%;
    border-radius: 2px;
    border: 1px solid black;
  }
}

@media only screen and (min-width : 768px) {
  nav .item.force.selected {
    background: rgba(255,255,255, .15) !important;
    color: #fff !important;
  }

  nav .mobile-only {
      display: none !important;
  }

  nav .desktop-only {
    display: flex !important;
  }

  #media-screenshots img.loaded:hover {
    cursor: zoom-in;
  }
  #media-screenshots .gallery-image {
    position:relative;
    overflow:hidden;
    padding-bottom: 100%;
    transition: all .2s ease-in-out;
  }
  #media-screenshots .gallery-image:hover {
    transform: scale(1.04);
    z-index: 50;
  }

  #media-screenshots .row:first-child img.loaded {
    padding: 0.5%;
  }

  #media-screenshots img {
    margin-left: auto;
    margin-right: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    max-width: none;
    position:absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #media-screenshots img.loaded {
    border-radius: 4px;
    padding: 1%;
    background-color: black;
  }

  #media-screenshots .row {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  #media-screenshots .row .column {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  #media-screenshots .column:only-child .gallery-image {
    padding: 10rem !important;
    margin: 0 auto;
  }

  #media-screenshots .column:only-child img.loaded  {
    padding: 0.4%;
  }
}

#media {
  padding-bottom: 2em;
}


#media .segment.loading {
  height: 5em;
  width: 80%;
  margin: 0 auto;
  margin-top: 2em !important;
}

video {
  width: 100%;
  border: 1px solid black;
  border-radius: 2px;
}

#media-videos .video-caption {
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

#media-videos .video-container {
  padding-left: 0.2em;
  padding-right: 0.2em;
}

#media-videos .video {
  margin-top: 1em !important;
  margin-bottom: 1em;
}

#cookies {
  z-index: 9001;
  position: relative;
}

#cookies .segment {
  font-size: 0.8em;
  padding-bottom: 0.8em !important;
  width: 20em;
  position: fixed;
  left: auto;
  right: 10px;
  bottom: 20px;
  overflow: hidden;
  padding: 10px 15px 50px
}

#server-info p {
  margin-bottom: 0.2em;
}
