#wrapper {
  margin-top: 5em
}

#steam-img {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#create {
  margin-bottom: 4em;
}

#create .event-type {
  padding-top: 0 !important;
}

#slots button, .button {
  margin-bottom: 0.2em !important;
}

#slots input.js-unit {
  margin-bottom: 1px;
}
#slots input.error {
  border-color: red;
}

#slots .grp-segment {
  padding-left: 6px;
  padding-right: 6px;
}

.invis {
  display: none !important;
}

.mt-top1 {
  margin-top: 1em !important;
}

.mt-top2 {
  margin-top: 2em !important;
}

nav span.title {
  font-size: 100%;
  font-weight: bold;
}

.message .close {
  padding-left: 0.6em;
}

.full-w {
  width: 100%;
}

.message p.small {
  margin-top: 0;
  margin-bottom: 0;
}

.space {
  padding-top: 1em;
  padding-bottom:1em;
}

.top-space {
  padding-top: 2em;
}

@media only screen and (max-width: 767px) {
  .desktop-only {
      display: none !important;
  }
  .mobile-only {
    display: block !important;
  }
}

@media only screen and (min-width : 768px) {
  .mobile-only {
      display: none !important;
  }

  .desktop-only {
      display: block !important;
  }
}
