extends layout

block content
  .ui.segment.container
    h1.ui.dividing.header About
    p We're an ARMA group that has been around since 2011, starting out with ARMA2 and currently playing ARMA3.
    p Our first goal is to have fun. We do not play milsim with ranks and armchair generals,
      | however with more than 40 players (sometimes near 60), some organisation is required.

    h3 Joining
    p If you're interested to join our community, start by following the 
      a( href='/guides/installing-our-modpack') guide to install the modpack. 
      | Do note that it has quite some size. So be sure to download it early and test it out 
      | prior to joining any event
    h3 Teamspeak 3
    p Teamspeak 3 is what we use to communicate. Download it and join the IP 
      code prfn.se. 
      | You can find us in the FPARMA channels

 	h3 Discord
    p
      a(href='https://discord.me/fparma', target="_blank") Join our Discord channel

    h3 Steam
    p
      a(href='http://steamcommunity.com/groups/FPARMA', target="_blank") Visit us on steam
