extends layout

block content
  .ui.segment.container
    h1.ui.dividing.header About
    p We're an ARMA group that has been around since 2011.
    p
      a(href='http://steamcommunity.com/groups/FPARMA') Visit us on steam
