extends layout

block content
  .ui.grid.container.centered
    .ui.segment
      h1.pad= message
      if locals.error
        h4 Details: 
        pre
          code.text=error.stack
      a.ui.primary.button(href='/') Home
