extends layout

block content
  .ui.segment.raised.container
    .ui.equal.width.stackable.grid
      .ten.wide.column
        img.ui.centered.image(src='/img/fparma.png')
        h1.center-text Welcome to FPARMA
      .stretched.column
        #server-info.ui.inverted.loading.segment
          .ui.top.attached.large.label
            i.black.linux.icon
            span Server info

  if (locals.news.length)
    #news.ui.segment.container
      h2.ui.header News
      each item in locals.news
        .ui.raised.red.segment.mt-top2
          span.ui.top.attached.label Posted on #{item.display_date}
          h3.headline
            if item.url
              a(href=item.url)=item.header
            else
              span=item.header
          .mt-top1
            .ui.floating.message
              p.keep-format=item.text
