extends layout

block content
  .ui.segment.raised.container
    img.ui.centered.image(src='/img/fparma.png')
    h1.center-text Welcome to FPARMA

  if (locals.news.length)
    #news.ui.segment.container
      h2 News
      each item in locals.news
        .ui.raised.segment.mt-top2
          p.date Posted on #{item.display_date}
          h3.headline.no-margin
            if item.url
              a(href=item.url)=item.header
            else
              span=item.header
          .mt-top1
            .ui.message
              p.keep-format=item.text
