doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    if title
      title #{title} | FPARMA
    else
      title FPARMA

    meta(name='description', content='FPARMA website')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    if IS_DEV
      link(href='/semantic/semantic.css', rel='stylesheet', media='all')
    else
      link(href='/semantic/semantic.min.css', rel='stylesheet', media='all')
    link(href='/app.css', rel='stylesheet', media='all')    

  body
    include includes/nav.jade
    .ui.segment.grid.container  
      block content
  script(src='http://code.jquery.com/jquery.js')
  if IS_DEV
    script(src='/semantic/semantic.js' charset="utf8")
  else
    script(src='/semantic/semantic.min.js' charset="utf8")
  
