doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    if title
      title #{title} | FPARMA
    else
      title FPARMA
    meta(name='description', content='FPARMA website')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(href='/semantic/semantic.min.css', rel='stylesheet', media='all')
    link(href='/css/app.css', rel='stylesheet', media='all')    
    script(src='http://code.jquery.com/jquery.min.js')
    block head
  body
    include includes/nav.jade
    noscript
      .ui.container(style="margin-top:4em")
        .ui.small.error.icon.message
          i.icon.warning
          p This site requires JavaScript enabled to function properly
    #wrapper
      block content
  if IS_DEV
    script(src='/semantic/semantic.js' charset="utf8")
  else
    script(src='/semantic/semantic.min.js' charset="utf8")
block tail
script(src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js')
script(src='/js/app.js')
  
  
