doctype html
html(lang='en')
  include includes/helpers.jade
  head
    meta(charset='utf-8')
    if title
      title #{title} | FPARMA
    else
      title FPARMA
    meta(name='description', content='FPARMA website')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    +style_link('/semantic/semantic.min.css', true)
    +style_link('/css/app.css', true)
    +script_link('/vendor/jquery-2.1.4.min.js', true)
    block head
  body
    #cookies.invis
      .ui.center.aligned.inverted.segment
        p This site uses cookies to improve user experience. 
          a(href='/policy') Read more
        #cookie-btn.ui.primary.tiny.button
          span Whatever!
    include includes/nav.jade
    noscript
      .ui.container(style="margin-top:4em")
        .ui.small.error.icon.message
          i.icon.warning
          p This site requires JavaScript enabled to function properly
    #wrapper
      block content
      
      if (page == 'home')
        .ui.container.segment
          a(href='/policy') Privacy policy
    +script_link('/semantic/semantic.min.js', true)
block tail
+script_link('/vendor/fastclick.min.js', true)
+script_link('/js/app.js', true)
