extends layout

block content
  .ui.container.segment
    h1.pad Login or register
    p This site uses Steam OAuth to authenticate you.
    p If this is your first time logging in,
      | you'll have to select a username which will be your displayname.
    p Click the steam button below to login.
    form.ui.centered.grid.mt-top2(method='POST', action='/auth/steam')
      .row
        .ui.toggle.checkbox
          input#remember-me.hidden(type='checkbox', name='remember', value='remember')
          label(for='remember-me') Remember me
      .row#steam-img
        input(type='image', src='/img/sign-in-steam.png' alt='Login')
