extends layout

block content
  .ui.container.segment
    h1.pad Login or register
    p This site uses Steam OAuth to authenticate you.
    p If this is your first time logging in,
      | you'll have to select a username which will be your displayname.
    p Click the steam button below to login.
    .ui.grid.centered
      a.pad(href='/auth/steam')
        img#steam-img(src='/img/sign-in-steam.png' alt='Login')
