extends layout

block content
		h1.pad Login or register
		p This site uses Steam to authenticate you, click below to sign in.
		p If this is your first time signing up,
			| you may select a username which will be your displayname after logging in on steam.
		.ui.grid.centered
			a.pad(href='/auth/steam')
				img#steam-img(src='/img/sign-in-steam.png')
