.ui.attached.pointing.menu.inverted
  .ui.container
    a.header.item(href='/') FPARMA
    a.item.disabled(href='#') News
    a.item.active(href='/events') Events
    a.item.disabled(href='#') About
    .right.menu
      a.item(href='/login') Login / Register
