extends layout

block content
  .ui.container.segment
    h2 Privacy Statement:  How we use Cookies

    p Cookies are very small text files that are stored on your computer when you visit some websites. 
    p.
      We use cookies to help identify your computer when logged in.
      You can disable any cookies already stored on your computer in your browser, but these may stop our website from functioning properly.

    p The following is strictly necessary in the operation of our website.

    b This Website Will:
    ul
      li Recognize your device so you don't have to give the same information over and over.
      li If requested, remember that you are logged in so you do not need to enter details each time you visit. 

    b This website will not
    ul
      li Store personal information in cookies.
      li Share any personal information with third parties.
