extend layout

block content
  .ui.container.segment
      if !user.name
        form#form.ui.form(method='POST')
          h1 Welcome!
          .field
            label Select a username
            input(type='text', autocomplete='off', name='username', placeholder='Choose username')
          .ui.error.message
          p Consider using your ingame name for easier identification. 
            | This name will be shown in events, comments etc.
          p Your steam profile is not shown
          .pad
            button.ui.button.primary(type='submit') Submit
            a.ui.button(href='/logout') Logout
          script.
            $(function () {
              $('#form').form({
                fields: {
                  username: {
                    identifier: 'username',
                    rules: [
                      {
                        type: 'regExp[!{locals.validation.REG}]',
                        prompt: '!{locals.validation.MSG}'
                      }
                    ]
                  }
                }
              })
            })
      else
        h1 Profile
        h4 #{user.name}
      script(src='/js/profile.js' charset='utf8')
