extends layout

block content
  .ui.segment.container
    h1.ui.dividing.header Rules
    p The below rules are what we expect people that play with us to follow.

    .ui.bulleted.list
      .item
        h3.header Don't be a shitter
        p This means don't ruin other people's fun on purpose.
          | Examples are intentionally teamkilling and taking an important role without the intention of playing it seriously.
      .item
        h3.header Respect slot reservations
        p Any slots reserved for an event on this website are active until the mission starts.
          | After event start time they're free to take, unless locked by the mission maker.
          | If you show up late you'll only get the slot back if the person who took it agrees.
      .item
        h3.header General
        .ui.list
          .item Non-mission drawings/markers are to be kept on the white areas of the map screen.
          .item Side/global chat are for mission-critical communication, such as needing zeus or questions regarding the mission.
          | This does not include you being too far away to use your radio, nor telling people that you need healing.
