mixin mklink(name, url, right)
  a.item(href=url,
    class=right ? 'ui right floated' : '',
    class=(page && page == url.substr(1) ? 'active': ''))
    | #{name}

.ui.inverted.borderless.main.menu
  .ui.text.container
    a.header.item(href='/', class=(page == 'home' ? 'active' : ''))
      img.logo(src='/img/fparma.png')
      p.title FPARMA
    +mklink('Events', '/events')
    +mklink('Join', '/join')
    +mklink('Login / Register', '/login', true)
