extends ../layout

block head
  link(href='/vendor/picker.min.css', rel='stylesheet', media='all')    

block content
  form#js-form-upload-file(enctype='multipart/form-data' action='/events/create/upload-sqm' method='post', style='display:none')
    input#js-input-file-sqm(name='file' type='file', accept='.sqm')

  form#create.ui.form.container
    h1.ui.dividing.header Create new event
    .ui.top.attached.tabular.menu
      a.js-tab.active.item(data-tab='first') Info
      a.js-tab.item(data-tab='second') Slots
      a#js-review-btn.js-tab.item(data-tab='third') Review / Submit
    .ui.bottom.attached.active.tab.segment(data-tab='first')
      include ./create-description.jade
    .ui.bottom.attached.tab.segment(data-tab='second')
      include ./create-slots.jade
    .ui.bottom.attached.tab.segment(data-tab='third')
      include ./create-review.jade

block tail
  +script_link('/vendor/moment.min.js', true)
  +script_link('/vendor/picker.min.js', true)
  +script_link('/js/create.js', true)