h2 Review
.ui.raised.horizontal.segments
	.ui.segment
		.ui.divided.list
			h4.item Type
			p.item Event name
			p.item Event type
			p.item Event author(s)
			p.item Date (UTC)
			p.item Amount groups
			p.item Slots total
	.ui.segment
		#js-review-list.ui.divided.list
			h4.item Value
			p.item.js-name Not specified
			p.item.js-type Not specified
			p.item.js-authors Not specified
			p.item.js-date Not specified
			p.item.js-groups 0
			p.item.js-total 0

#submit-btn.mt-top1.ui.large.primary.submit.button Submit
#js-create-errors.ui.error.message
