.ui.two.column.stackable.grid
  .two.column.row
    .field.column
      label Event name
      input.js-event-name(type='text', name='name' placeholder="Operation FPARMA" autofocus)
  .event-type.column
    .inline.fields.js-event-type
      .field
        .ui.radio.checkbox
          input#radio-co(type='radio', checked="" name='type', value='CO')
          label(for='radio-co')
            b CO
      .field
        .ui.radio.checkbox
          input#radio-tvt(type='radio', name='type', value='TVT')
          label(for='radio-tvt') TvT
  .one.column.row
    .field.column
      label Event description
      textarea#js-description(rows=6, name='description' placeholder="Info on the event")
  .two.column.row
    .field.column
      label Author(s) (optional)
      input.js-event-authors(type='text', name='author' placeholder="User1, user2")
  .two.column.row
    .field.column
      label Image URL (optional)
      input.js-event-image(type='text', name='image_url' placeholder="http://image.jpg")
  .four.column.row
    .field.column
      label Date
      input#create-date(type='text')
    .field.column
      label Time (local)
      input#create-time(type='text')
  .field.column(style='padding-top: 0')
    p#js-time
