extends ../layout

block head
  link(href='/vendor/picker.min.css', rel='stylesheet', media='all')    

block content
  form#js-form-upload-file(enctype='multipart/form-data' action='/events/create/upload-sqm' method='post', style='display:none')
    input#js-input-file-sqm(name='file' type='file', accept='.sqm')
  
  script.
    $(function() {$('#create .menu .item').tab()})
  form#create.ui.form.container
    h1.ui.dividing.header Create new event
    .ui.top.attached.tabular.menu
      a.active.item(data-tab='first') Info
      a.item(data-tab='second') Slots
      a#js-review-btn.item(data-tab='third') Review / Submit
    .ui.bottom.attached.active.tab.segment(data-tab='first')
      include ./create-description.jade
    .ui.bottom.attached.tab.segment(data-tab='second')
      include ./create-slots.jade
    .ui.bottom.attached.tab.segment(data-tab='third')
      include ./create-review.jade

block tail
  script(src='/vendor/moment.min.js')
  script(src='/vendor/picker.min.js')
  script(src='/js/create.js')
