extends ../layout

mixin mkevent(evt)
  .item
    .content
      a.header(href='/events/event/' + evt.permalink) #{evt.type.toUpperCase()} - #{evt.name}
      p by #{evt.authors}
      span.js-event-date(data-date=evt.date data-def=evt.displayDate)= evt.displayDate

block content
  .ui.container.segment
    if (locals.user.admin)
      a.ui.primary.button(href='/events/create') Create new event
    if (events.upcoming.length || events.completed.length)
      .full-w.mt-top1
        p
          b Show dates as
        select#js-date-select.ui.drop.dropdown
          option(value='utc' selected='') UTC
          option(value='local') Local
          option(value='from_now') From now
      if events.upcoming.length
      h1 Upcoming events
      each event in events.upcoming
        .ui.relaxed.divided.list.segment.small
          +mkevent(event)
    else
      h1 No upcoming events
    
    if events.completed.length
      h1 Previous events
      each event in events.completed
        .ui.relaxed.divided.list.segment.small
          +mkevent(event)
          
block tail
  script(src='/vendor/moment.min.js')
