extends ../layout

block head

block content

  .ui.segment.container
    h1.ui.dividing.header Submit new media
    p It might take a while for your content to show up as it has to be approved.
    p Allowed formats (.png, .jpg, .webm/.mp4, youtube links)
    form#form.ui.form.mt-top2(method='POST', action='/media/submit')
      .ui.two.column.stackable.grid
        .two.column.row
          .column
            label Content is?
            .inline.fields(style="margin-bottom: 0")
              .field
                .ui.radio.checkbox
                  input#type-image(type='radio', name='type', checked='checked', value="image")
                  label(for="type-image") Image
              .field
                .ui.radio.checkbox
                  input#type-webm(type='radio', name='type', value="webm")
                  label(for="type-webm") WebM/MP4
              .field
                .ui.radio.checkbox
                  input#type-youtube(type='radio', name='type', value="youtube")
                  label(for="type-youtube") Youtube
        .two.column.row
          .field.column
            label Media URL
            input(type='url', name='url', autocomplete='off')
        .two.column.row
          .field.column
            label Optional caption
            input(type='text', name='caption', autocomplete='off')
        .two.column.row
          .field.column
            .ui.toggle.checkbox
              input(type='checkbox', name='add', value="on", checked)
              label Include me as the author

        .row.mt-top1
          .column
            button(type='submit').ui.primary.submit.button Submit
            .ui.error.message

block tail
  script.
    $(function () {
      $('#form').form({
        on: 'blur',
        fields: {
          add: 'empty',
          url: 'empty',
          caption: 'maxLength[128]'
        }
      })
    })
